/* Small only */
@media screen and (max-width: 39.9375em) {
  .wysiwyg img.right,
  .wysiwyg img.left {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .toggle-panel {
    display: none;
  }

  .search-dropdown,
  .main-nav {
    top: 4rem;
  }
  .logo {
    img {
      padding: 0.75rem 0;
      max-width: 160px;
    }
  }

  .wrapper-footer .content-top ul {
    padding-bottom: 3rem;
  }
  .card-key-sector .content {
    color: #2c3d4f;
    padding: 0 2rem 0 0;
    margin-bottom: 2rem;
  }
  .card-map .img {
    min-width: unset;
    height: unset;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  .card-map .left-side {
    min-width: unset;
  }
  .card-map .content {
    margin-top: 0;
    padding-left: 0.75rem;
  }
  .wrapper-opportunites {
    #divMap {
      height: 70vh;
      width: 100%;
    }
  }

  #divMapSingle {
    height: 300px;
    width: 100%;
  }

  .card-facts {
    display: block;
    padding: 1rem;
    .icon-side {
      width: 75px;
      height: 75px;
      margin-top: 1rem;
    }
  }

  .btn-login {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }

  .wrapper-header .search-icon span {
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
  }

  .wrapper-footer {
    .content-top {
      padding: 2rem 0.7rem;
    }
    .content-base {
      ul {
        display: block;
        font-size: 1rem;
        li {
          padding: 0.5rem 0;
          a {
            padding-left: 0rem;
          }
        }
      }
    }
  }

  .search-icon {
    padding-top: 0.4rem;
  }

  .hamburger {
    margin-top: 0.7rem;
  }

  .hero-content h1 {
    font-size: 3.5rem;
  }

  .card-key-sector {
    display: block;
    padding: 2.5rem 1rem;
  }
}

/*iphone x etc*/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}
