/* FONT VARIABLES */
$font-title: "FS Sinclair", sans-serif;
$font-title-bold: "FS Sinclair Bold", sans-serif;
$font-main: "Colfax Regular", sans-serif;
$font-main-bold: "Colfax Bold", sans-serif;

/* COLOUR VARIABLES */
$col-hamburger-lines: #ffffff;

$col-text-main: #2c3d4f;
$col-text-wysiwyg: #2c3d4f;
$col-text-form-label: #2c3d4f;

$col-form-input-bg: #f2f2f2;
$col-form-success: #60b676;
$col-form-error: #91071a;

$col-filters-title-bg: #2c3d4f;
$col-filters-title-fg: #fff;
$col-filters-body-bg: #f8f8f8;
$col-filters-body-fg: #2c3d4f;

$col-dark-background: #2c3d4f;
$col-light-foreground: #ffffff;
