.wrapper-opportunites {
  #divMap {
    height: 100%;
    width: 100%;
  }
  .pin-content {
    a {
      font-size: 1rem;
      line-height: 1.6;
      font-weight: bold;
    }
  }
}

#divMapSingle {
  height: 575px;
  width: 100%;
}
