.cta-nav-side {
  display: block;
  margin-bottom: 1rem;
  background-color: $col-dark-background;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  color: #fff;
  text-transform: uppercase;
  transition: color 0.3s, background-color 0.3s;
  position: relative;
  &:focus,
  &:hover {
    color: white;
  }
  &::after {
    content: "\e901";
    color: #fff;
    font-family: "icomoon" !important;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    padding-top: 2px;
    position: absolute;
    right: 1rem;
    top: 0.7rem;
    transition: color 0.3s, border 0.3s;
  }
}

.generic-listing {
  .content {
    border-bottom: dashed 1px #ccc;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
    .title {
      font-size: 1.4rem;
      font-weight: normal;
    }
    .intro {
      font-size: 1rem;
    }
    a {
      font-weight: bold;
      @include fader;
    }
    .cta {
      position: relative;
      &::after {
        content: "\e901";
        font-family: "icomoon" !important;
        font-size: 0.7rem;
        line-height: 1;
        padding-top: 2px;
        position: absolute;
        right: -24px;
        top: 0.25rem;
        transition: color 0.3s, border 0.3s;
      }
    }
  }
}

.filter-header {
  display: block;
  padding: 0.95rem 1.1rem 0.9rem;
  font-family: $font-main;
  font-size: 1.1rem;
  line-height: 1.1;
  background-color: $col-dark-background;
  color: white;
}

.filter-content {
  background-color: transparentize($color: $col-dark-background, $amount: 0.94);
  color: white;
  padding: 1rem 1.1rem;
  margin-bottom: 1.5rem;

  .input-group-field {
    border-radius: 0;
    box-shadow: none;
    border-color: #ccc;
    padding-left: 0.8rem;

    &::placeholder {
      color: #ccc;
    }
  }

  ul {
    list-style: none;
    margin: 0;
  }

  &.widget {
    padding: 1rem 1.1rem;
    text-align: center;

    .screen-reader-text {
      position: absolute !important;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }

    .filter-header {
      margin-bottom: 1rem;
      text-align: left;
    }

    select,
    input {
      width: 100%;
    }

    .search-field {
      background-color: #fff;

      &::placeholder {
        color: #ababab;
      }
    }

    input[type="submit"],
    .search-submit {
      margin-top: 1rem;
      background-color: $col-dark-background;
      color: white;
      padding: 0.8rem 1rem;
      font-family: $font-main;
      font-size: 1rem;
      border-radius: 0;
      border: 0;
      cursor: pointer;
      transition: 0.3s ease-out;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      line-height: 1;

      span {
        margin-left: 0.5rem;
      }

      &:hover {
        background-color: $col-dark-background;
        color: white;
      }
    }
  }
}
